In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('../data/Base de dados Tese.xlsx')

In [3]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Armazéns Regionais do Pais,Depositos Provinciais (DPM),Unidades Sanitárias,Volume (m3) por Mês,Volume (m3) por Ano,Total de Viaturas DPS,Custo Total Provincia por Mês (USD),Custo Total Provincia por Ano (USD),Total Depositos DDMs por provincia,Unidades Sanitarias a 50 Km do DDM,U.S fora de 50 km dos DDMs,Total de Armazém no Distrito,Total de Centros de Saúde por Província,Total de km por província,Volume estimado por mês (m3),Total de km por mês no DDMs,Total de km por ano DDMs,Custo Total DDs por Mês (USD),Custo Total DDs por Ano (USD),% da Demanda Nacional
3,Armazem Regional do Sul,Maputo Cidade,28,659,7908,2,1.435,17.227,7,28,0,7,27,206,423,206,2.474,1.435,17.227,0.09
4,NaN,Maputo Provincia,108,379,4548,3,2.459,29.515,8,104,4,8,106,3.719,313,3.719,44.628,2.459,29.515,0.05
5,NaN,Gaza,136,497,5962,4,2.733,32.8,12,123,13,12,135,7.508,453,7.508,90.096,2.733,32.8,0.07
6,NaN,Inhambane,127,628,7.54,5,3.247,38.975,14,114,13,14,125,6.934,555,6.934,83.204,3.247,38.975,0.08
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Armazem Regional do Centro,Zambézia,240,1221,14651,7,4.818,57.81,17,219,21,17,233,12.065,999,12.065,144.777,4.818,57.81,0.16
9,NaN,Tete,122,668,8011,5,4.31,51.72,13,101,21,13,120,8.676,615,8.676,104.113,4.31,51.72,0.09
10,NaN,Manica,113,530,6361,4,2.976,35.714,10,109,4,10,108,5.52,392,5.52,66.241,2.976,35.714,0.07
11,NaN,Sofala,147,524,6288,5,3.058,36.7,13,140,7,13,146,8.416,498,5,68.241,3.058,36.7,0.07
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Armazem Regional do Norte,Niassa,171,505,6061,4,4.273,51.28,16,153,18,16,169,9.107,443,9.107,109.287,4.273,51.28,0.07
14,NaN,Cabo Delgado,119,558,6694,5,3.923,47.08,17,117,2,17,117,5.922,507,5.922,71.064,3.923,47.08,0.07
15,NaN,Nampula,210,1.35,16199,9,5.275,63.308,21,200,10,21,208,9.355,1.282,9.355,112.256,5.275,63.308,0.18
16,Grande Total,NaN,1521,6170.35,82690.54,53,38.507,462.129,148,1408,113,148,1494,283.222,5199.282,279.806,896.381,38.507,462.129,1.0